<ul>
	<li>{{ patient }}</li>
<dl class="details">
	<dt>Birth Date</dt> 
		<dd>{{ patient.birth_date }}</dd>
		<dd class="hide"><form method="post">{% csrf_token %}
			<input type="hidden" name="birth_date_form" value="True" />
			<input type="hidden" name="patient" value="{{ patient.id }}" />
			<input type="text" name="birth_date" value="{{ patient.birth_date|date:"m/d/Y" }}"/>
		<a class="button">Update</a>
		</dd>
		</form>
	<dt>Age</dt>
		<dd>{{ patient.birth_date|timesince }}</dd>
</dl>
</ul>