<ul id="problem-list">
	<form id="problem-add-form" class="quick-form" method="post" >{% csrf_token %}
		<li>
			<input type="hidden" name="problem_form" value="True" />
			<input type="hidden" name="patient" value="{{ patient.id }}" />
			<input type="hidden" name="active" value="True" />
			<table>
				<tr><th>New Problem{{ problem_form.name.errors }}</th></tr>
				<tr><td><input class="full-width-input" type="text" name="name" /></td></tr>
			</table>
		</li>
	</form>
	{% for problem in patient.problem_set.all %}
		{% if problem.active %}
			<li>		
				{{ problem.name|title }}
			</li>
			<div class="hide">
				<dl class="details">
					<dt>Started</dt> 
						<dd>{{ problem.start_date|date:"m/d"}}</dd>
					<dt>Duration</dt>
						<dd>{{ problem.start_date|timesince }}</dd>
				</dl>
				<div class="actions">
					<ul>
						<form class="button-form" method="post" action="">{% csrf_token %}		
						<input type="hidden" name="patient" class="patient-value" value="{{ patient.id }}" />
						<input type="hidden" name="problem" id="id_problem" value="{{ problem.id }}" />
						<li><a class="problem-edit">Edit</a></li>			
						<li><a class="problem-stop">Stop</a></li>
						</form>
					</ul>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</ul>